NODE_ENV=dev

SERVER_PREFIX=/webcore
SERVER_HOST=localhost
SERVER_PORT=6000

# REDIS
RD_HOST=localhost
RD_PORT=6379

# MONGO
DB_HOST=localhost
DB_PORT=22001
DB_NAME=yuntun_dev
DB_USER=Alichs
DB_PASSWD=tsh000000

# ALI
MAIN_ACCESS_KEY_ID=LTAIrTbgpYDSviVc
MAIN_ACCESS_KEY_SECRET=Uf3UZIABZZTMG2LrxNoPobQ1YOwg21
OSS_BUCKET_NAME=yuntun-web