# registry = http://registry.npmjs.org
# registry = https://registry.npm.taobao.org
# registry = http://registry.alichs.com
registry=https://npm.pkg.github.com/Alichs
//npm.pkg.github.com/:_authToken=f722bce64391dc264208f171b2c8b6c731aabcc4